site_name: DCS AH-1G Cobra Manual

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.blocks.caption
  - toc:
      permalink: "#"

extra_css:
  - css/drafts.css
  - css/images.css
  - css/links.css

nav:
  - AH-1G Manual: index.md
  - Support / Bug Reporting: support.md
  - Setup:
    - Installation: Setup/Installation.md
    - Keybinds: Setup/Keybinds.md
    - Special Options: Setup/SpecialOptions.md
    - Multicrew: Setup/Multicrew.md
  - Radios:
    - Overview: Radios/Overview.md
  - Navigation:
    - Overview: Navigation/Overview.md
  - Weapons:
    - Overview: Weapons/Overview.md
    - Switches: Weapons/Switches.md
    - Employment: Weapons/Employment.md

draft_docs: |
  Setup/
  !Setup/Keybinds.md
  !Setup/Installation.md
  !Setup/images
  Radios/
  Navigation/

theme:
  # name: readthedocs
  name: material
  palette:
  - media: "(prefers-color-scheme)"
    toggle:
      icon: material/link
      name: Switch to light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: indigo
    accent: indigo
    toggle:
      icon: material/toggle-switch
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: black
    accent: indigo
    toggle:
      icon: material/toggle-switch-off
      name: Switch to system preference
    features:
    - content.code.copy
    - navigation.indexes
    - navigation.instant
    - navigation.instant.progress
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate

# plugins:
  # - to-pdf
